<div>
  <input type="text" [(ngModel)]='user.name' placeholder="name">
</div>
<div>
  <input type="text" [(ngModel)]='user.email' placeholder="email">
</div>
<div>
  <input type="text" [(ngModel)]='user.password' placeholder="password">
</div>

<button (click)='onSignup()'>Sign up</button>

<hr>

<div *ngIf='auth.user | async; then authenticated else guest'></div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>
  <button (click)='onGoogleSignup()'>Google Auth</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
      <h3>Howdy, {{ user.displayName }}</h3>
      <img [src]="user.photoURL">
      <p>UID: {{ user.uid }}</p>
      <p>Favorite Color: {{ user?.favoriteColor }} </p>
      <button (click)='onSignOut()'>Sign out</button>
  </div>
</ng-template>