<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]='projectForm' (ngSubmit)='onSubmit()'>
        <div class="form-group">
          <label for="name">Project name:</label>
          <input type="text" 
                 id='name' 
                 name='name' 
                 class="form-control"
                 formControlName='name'>
          <div *ngIf='!projectForm.get("name").valid && projectForm.get("name").touched' class="help-block">
            <span *ngIf='projectForm.get("name").errors["nameIsForbidden"]'><b>{{ projectForm.get("name").value }}</b> isn't valid project name</span>
            <span *ngIf='projectForm.get("name").errors["required"]'>Enter project name</span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" 
                 id='email' 
                 name='email' 
                 class="form-control"
                 formControlName='email'>
          <div *ngIf='!projectForm.get("email").valid && projectForm.get("email").touched' class="help-block">
            <!-- <span *ngIf='projectForm.get("email").errors["emailIsForbidden"]'>You can't use this email</span> -->
            <span *ngIf='projectForm.get("email").errors["required"]'>Enter project email</span>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Project status:</label>
          <select type="text" 
                  id='status' 
                  name='status' 
                  class="form-control"
                  formControlName='status'>
            <option *ngFor='let status of projectStatus' [value]="status">{{ status }}</option>
          </select>
        </div>
        <button type='submit' class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
