<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form>
        <div class="form-group" (ngSubmit)='onSubmit(f)' #f='ngForm'>
          <label>Email:</label>
          <input type="text" 
                 class="form-control"
                 ngModel
                 name='email'
                 #email='ngModel'
                 email>
          <div *ngIf='!email.valid && email.touched' class="help-block">Enter your email</div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="subscriptions" 
                  class="form-control"
                  [ngModel]='defaultSubscription'
                  name='subscriptions'>
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="text" 
                 class="form-control"
                 ngModel
                 name='password'
                 #email='ngModel'
                 password>
          <div *ngIf='!password.valid && password.touched' class="help-block">Enter your password</div>
        </div>
        <button class="btn btn-primary" 
                type="submit"
                [disabled]='!f.valid'>Submit</button>
        </form>
      </form>
    </div>
  </div>
</div>
